.form-spacer {
  margin: 2em 0;
}

.form-container {
  background-color: #eee;
  display: flex;
  padding: 5em;
  flex-direction: column;
  border-radius: 12px;

  .input-container {
    margin-bottom: 1.5em;
  }

  .input-container--submit {
    margin-top: 3em;
  }
  label {
    font-size: 1.25rem;
  }
}

.button {
  border: none;
  color: #fff;
  padding: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 65px;
  border-radius: 12px;
  background-color: #000;
  box-shadow: 0 0.5333333333rem 0.8rem rgb(28 19 18 / 10%);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 284px;
  outline: 0;
  line-height: 1;
  min-height: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  padding-left: 1em;
  padding-right: 1em;

  &.button-short {
    max-width: 150px;
    min-width: 50px;
  }

  &:hover,
  &:active {
    box-shadow: 0 0.5333333333rem 0.8rem rgb(28 19 18 / 30%);
    position: relative;
    top: 2px;
  }

  &.button-text {
    .text {
      @include from($widescreen) {
        font-size: 20px;
        font-weight: bold;
        color: #000;
        border-bottom: 2px solid #000;
      }
    }

    .arrow,
    .text {
      display: inline-block;
    }

    .arrow {
      margin-left: 15px;
    }
  }
}

.button-with-icon {
  display: flex;
  padding: 20px 20px 20px 30px;
  align-items: center;
  justify-content: space-between;

  .button-icon {
    fill: #fff;
  }
}

.button.button-submit {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

input {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  height: 65px;
  border: none;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3125rem;
  outline: 0;
  border: 1px solid black;

  &:active,
  &:focus {
    box-shadow: inset 0px 3px 6px #00000029;
  }
}

.button {
  transition: opacity 0.1s ease-in-out, background-color 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease;
  will-change: opacity;
}

.button {
  background-color: $button-bg-color;
  color: rgba(255, 255, 255, 0.8);
  &:hover {
    background-color: $button-bg-color-hover;
    color: rgba(255, 255, 255, 0.8);
  }
  &.desaturated {
    background-color: $button-bg-color-desaturated;
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      background-color: $button-bg-color-desaturated-hover;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.button-ok {
  background-color: $ok-color;
  color: rgba(255, 255, 255, 0.8);
  &:hover {
    background-color: $ok-color-hover;
    color: rgba(255, 255, 255, 0.8);
  }
  &.desaturated {
    background-color: $ok-color-desaturated;
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      background-color: $ok-color-desaturated-hover;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
