
.typo-main-title {

  font-size: 2rem;
  font-family: 'Robot Condensed', sans-serif;


  @include from($desktop) {

    font-size: 3rem;

  }

  line-height: 1.1;
}


.typo-section-title {

  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;

}

.section-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;

}

.page-title {
  margin: 0 0 2rem;
}

input {
  padding: 5px 10px;
  font-size: 21px;
}
input::placeholder {
  font-size: 21px
}

