div,
textarea {
  box-sizing: border-box;
}

.button-container {
  border-top: 1px solid #aaa;
}

.button-container-alt {
  display: flex;
  flex-direction: column;
  @include from($desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.button-container-homepage {
  .button {
    @include until($widescreen) {
      width: 100%;
    }
  }
}

.button {
  background: #000;
  color: #fff;
  padding: 5px 15px;
  margin-top: 1rem;
  width: 50%;
  line-height: 2em;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-alt {
  width: 20%;

  @include from($desktop) {
    min-width: 80px;
  }
}

.content-container {
  padding: $padding-content;
  width: 100%;
}

.flex-container {
  display: flex;
}

.ui-card {
  min-height: 150px;
  background: #eee;
  border: 1px solid #aaa;
  margin-bottom: 5%;
  width: 95%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .text {
    display: inline-flex;
  }

  &.selected {
    background: aliceblue;
  }

  &.template-object-item {
    margin-bottom: 1%;
  }

  &.ui-card-settings {
    height: 100px;
  }

  .select-checkbox {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    display: inline-block;
  }
}

.iframe-container {
  display: inline-block;
}

iframe {
  height: 812px;
  width: 375px;
  margin-right: 2vw;
}

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}

.ui-widget__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3;

  .close {
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  .content {
    font-size: 300%;
    display: inline-flex;
    margin-top: -5%;
  }
}

.ui-widget {
  .ui-widget__title {
    margin-bottom: 1rem;
  }
  .ui-widget__list-cards {
    .ui-widget__card {
      display: block;
      background: #eee;
      border-radius: $border-radius-card;
      padding: 2vh 5vw;
      margin-bottom: 2vh;
      text-decoration: none;
      color: inherit;
      height: 7vh;
      line-height: 7vh;

      &:hover {
        background: #ddd;
      }
      &:active {
        background: #bbb;
      }
      &.active {
        background: $active-color;
      }
    }
  }

  .ui-widget__list-keywords {
    .ui-widget__keyword {
      @at-root .ui-widget__list-keywords.inline .ui-widget__keyword {
        display: inline-flex;
        margin-right: 2vw;
        padding-left: 2em;
        padding-right: 2em;
        width: auto;
        box-sizing: border-box;

        background: $active-color;

        &:hover {
          background: $active-color;
        }
      }

      background: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius-card;
      margin-bottom: 2vh;
      text-decoration: none;
      color: inherit;
      min-height: 10vh;
      text-align: center;
      width: 100%;
      padding: 0 15px;

      &:hover {
        background: #ddd;
      }
      &:active {
        background: #bbb;
      }
      &.active {
        background: $active-color;
      }
    }
  }

  .ui-widget__list-photos {
    .ui-widget__photo {
      padding: 5px;
      border: 1px solid transparent;
    }
    .ui-widget__photo {
      &.selected {
        border: 1px solid yellow;
      }

      .close {
        display: none;
        position: absolute;
        right: 15px;
      }

      &.open {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);

        .header {
          color: #fff;
        }
        .close {
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .ui-widget__textfield {
    textarea,
    input[type='text'] {
      width: 100%;
      padding: 15px;
      font-family: sans-serif;
      font-size: 1.2rem;
    }

    textarea {
      min-height: 150px;
    }
  }

  .ui-widget__camera {
    .output {
      width: 100%;
    }
  }
}

.slider {
  width: 100vw;
  overflow: hidden;

  .slides {
    display: flex;
    flex-wrap: nowrap;

    transition: transform 0.3s ease-in-out;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /* improves performance */
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
  }

  .slide {
    min-width: 100vw;
    width: 100vw;
  }
}

.summary-container {
  .summary-item {
    margin-bottom: 1rem;

    .ui-widget {
      margin-top: 1rem;
    }
  }
  .title {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .content {
    font-size: 1.5rem;
  }
  .summary-item-photo {
    img {
      max-width: 100%;
    }
    .content {
      font-size: 0.8rem;
    }
  }
  .summary-item-photo-raw {
    width: 30%;
    display: block;
  }
}

.form-upload {
  .file-input {
    margin-bottom: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  &.grid-2 {
    @include from($desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.grid-4 {
    @include from($desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.template-object-item {
  img {
    margin-right: 15px;
    float: left;
    width: 30%;
  }
  display: block;
  text-align: left;

  .actions {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding: 10px;
    text-align: right;
    clear: both;
  }

  .thumbnail-photo-detail {
    clear: both;
    padding: 5px 0;
  }
}

input {
  &.large {
    width: 100%;
    height: 3rem;
  }
}

.pramen {
  img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
